**/code/saved_model/*.pth
**/code/model_save/*.pth
**/test*
**__pycache*
**/*bin
**push.sh
**/code/model_backups/*
**/code/model_cache/*
**/code/results_backup/*
**/code/stat_res/mogon_results/tables/*
**/mogon_scripts/*.out
**/mogon_scripts/results/*
**/mogon_scripts/errors/*
**/mogon_scripts/do_not_touch/*
**/mogon_scripts/do_not_touch_2/*
**/code/stat_res/hyperopts/*
**/data/moe-neutral_datasets/*
**/data/additional_datasets/*
**/data/dataset_used_for_modeling/*
**/data/rdkit_datasets/*
**/data/minimol_datasets/*
**/stat_res/*
